.aside-filter{
  height: calc(100vh - 282px);
  overflow-y: scroll;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 240px;
}
.aside-filter::-webkit-scrollbar{
  display: none;
}
.section-filter{
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;

  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.section-filter:hover{
  background-color: #ff40006b;
}
.section-filter__active{
  background-color: #ff40006b;
}

.section-filter .arrow{
  line-height: .5;
  font-size: 2rem;
  transform: rotate(180deg) translateY(5px);
  color: #FF3E00;
}
.section-filter .arrowback{
  transform: rotate(0deg) translateY(5px);
}

.tecnology{
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  display: block;
  user-select: none;
  cursor: pointer;
  padding: .2rem;
  padding-left: 2rem;
}
.tecnology:hover{
  background-color: #ff40006b;
}
.section-program{
  padding-bottom: 1rem;
}
.hidden {
  display: none;
}
@media (width < 799px) {
  .aside-filter{
    display: none;
  }
  
}