.grid-book{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,  minmax(180px, 1fr));
  height: calc(100vh - 298px);
  border-radius: 8px;
  margin-top: 24px;
  margin-bottom: 24px;
  overflow: scroll;
  gap: 1rem;
}
.grid-book::-webkit-scrollbar {
  display: none;
}
.card-book{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: max-content;
  
}
.card-book__boximg{
  position: relative;
  width: 100%;
  aspect-ratio: 471/667;
  border-radius: 8px;

}
.card-book__img{
  width: 100%;
  border-radius: 8px;
  height: auto;
}
.card-book__lang{
  position: absolute;
  display: flex;
  gap: .2rem;
  top: .5rem;
  right: .5rem;
}
.lang__esp, .lang__eng{
  border: 2px solid #FF3E00;
  background-color: #FF3E00;
  text-decoration: none;
  padding: .3rem .6rem;
  font-weight: 600;
  color: #F2F2F2;
}
.lang__esp:hover,
.lang__eng:hover {
  background-color: #F2F2F2;
  color: #FF3E00;
}
.card-book__title{
  text-wrap: balance;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.card-book__autor{
  margin-top: auto;
  text-align: center;
}
@media (width < 708px) {
  .grid-book {
    height: calc(100vh - 216px);
  }
}
@media (width < 440px) {
  .grid-book {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    height: calc(100vh - 216px);
    margin: 0;
    padding: 24px 0 ;
  }

}
@media (width < 260px) {
  .grid-book {
    height: calc(100vh - 150px);
  }

}