@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');
:root {
  background-color: #938888;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.principal {
  position: fixed;
  width: 100%;
}

article{
  margin: 36px;
  padding: 2rem;
  border-radius: 6px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.5);
}
.principal-main{
  display: flex;
  gap: 2rem;
}
hr{
  border-color: #ff400017;
}
.aside-mobile{
  width: 70%;
  min-width: 440px;
  padding: 1rem;
  position: fixed;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.5);
  transform: translateX(-100%)
}
.aside-mobile .close-aside{
  cursor: pointer;
  font-size: 2rem;
  line-height: 1;
  text-align: end;
  display: block;
  padding-bottom: 1rem;
  color: #FF3E00;
}
.openAside{
  animation: openAside .5s ease-in-out both;
}
@keyframes openAside {
  0% { transform: translateX(-100%)}
  100% { transform: translateX(0)}
}
@media (width < 708px) {
  article {
    margin: 0;
  }
  
}
@media (width < 440px) {
  article {
    padding: 1rem;
    border-radius: 0;
    min-width: 148px;
  }
  .aside-mobile{
    width: calc(100% - 32px);
    min-width: 228px;
  }
  
}