@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');
:root {
  background-color: #938888;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.principal {
  position: fixed;
  width: 100%;
}

article{
  margin: 36px;
  padding: 2rem;
  border-radius: 6px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.5);
}
.principal-main{
  display: flex;
  gap: 2rem;
}
hr{
  border-color: #ff400017;
}